body {
  margin: 0;
  padding: 0;
  font-size: large;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #beebf6;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h2,
h4,
p {
  text-align: center;
  margin: 10px;
  width: 15rem;
}

header {
  background-color: #beebf6;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
  margin: 30px;
  color: black;
  font-size: larger;
  font-weight: 800;
}

.logo {
  width: 25%;
}

nav {
  width: 50%;
}

.icons {
  width: 25%;
}

footer {
  background-color: #beebf6;
  height: 75px;
  display: flex;
  justify-content: center;
}

footer h2 {
  text-align: center;
}
