header {
  background-color: #beebf6;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  text-align: center;
  text-decoration: none;
  margin: 40px;
  color: black;
  font-size: larger;
  font-weight: 800;
}
a {
  text-decoration: none;
}
